<h1>Task List</h1>

<a href="/">Home</a><br />
<a href="/reset">Reset</a><br />

	<br />
	<br />
	<br />
	<br />
	<br />
	<body>
	<% @todos_list.each_with_index do |task, index| %>
	<h2><a href="/complete/<%= index %>"><%= task %></a>
		<% if @todos_list[index].completed? %>
			<h2><a href="/complete/<%= index %>"><%= task %></a> <a href="/delete/<%= index %>"> Delete?</a></h2>
		<% end %>
		<% end %>
	




	
	</body>

	

